<div class="container">

    <h1 class="my-4">New Match</h1>

    <%= render 'form', match: @match, teams: @teams %>

    <%= link_to 'Back to Matches', matches_path, class: 'btn btn-secondary' %>
</div>